.DS_Store
/code/ios/MeteoriteFinder.zip
code/ios/MeteoriteFinder-Starter/MeteoriteFinder.xcodeproj/project.xcworkspace/xcuserdata/laurent.xcuserdatad/
code/ios/MeteoriteFinder-Starter/MeteoriteFinder.xcodeproj/xcuserdata/laurent.xcuserdatad/
code/ios/MeteoriteFinder-Starter/MeteoriteFinder/.gradle/
code/ios/MeteoriteFinder-Starter/MeteoriteFinder/build/

