MeteoriteFinder.zip
MeteoriteFinder-Starter/MeteoriteFinder.xcodeproj/project.xcworkspace/xcuserdata/laurent.xcuserdatad/
MeteoriteFinder-Starter/MeteoriteFinder.xcodeproj/xcuserdata/laurent.xcuserdatad/
MeteoriteFinder-Starter/MeteoriteFinder/.gradle/
MeteoriteFinder-Starter/MeteoriteFinder/build/
